.main {
  text-align: center;
  margin-top: 10px
}

.back {
  font-size: 24px;
  float: left
}

.img {
  width: 150px;
  height: 150px;
  margin: 10px;
  border: solid 2px black;
}

.name h5 {
  color: grey;
  float: left
}

.profile {
  padding: 20px;
}

.profile h5 {
  text-align: left;
  color: grey
}

.profile p {
  text-align: left;
}
